@import "./variables.scss";

.listSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .listPicker {
    display: flex;
    gap: 1rem;

    .listPickerTitle {
      font-weight: 300;
    }
  }
}

.colorBlock {
  background-color: black;
  height: 1rem;
  width: 1rem;
}

.blue {
  color: $darkBlue;
}

.green {
  color: $darkGreen;
}

.red {
  color: $red;
}
