// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 700

:global(.dropdown-menu) {
  background-color: white !important;
}

.ellipse {
  width: 1.5rem;
  height: auto;
}

.innerContainer {
  display: flex;
  align-items: center;
}

.itemText {
  margin: 0;
  font-size: 1rem;
}

.dropdown {
  background-color: white !important;
}

:global(.dropdown-toggle::after) {
  display: none !important;
}

.isChecked {
  text-decoration: line-through;
}

.listItem {
  list-style: none;
  padding: 8px 8px 8px 0;
}

.innerContainer {
  padding: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: transparent;
  border: none;
}

.checkAndText {
  display: flex;
  gap: 0.5rem;
}
