:global(.dropdown-menu) {
  background-color: transparent !important;
}

.ellipse {
  width: 1.5rem;
  height: auto;
}

.innerContainer {
  display: flex;
  align-items: center;
}

.itemText {
  margin: 0;
  font-size: 1.3rem;
}

.dropdown {
  background-color: transparent !important;
}

:global(.dropdown-toggle::after) {
  display: none !important;
}

.isChecked {
  text-decoration: line-through;
}

.listItem {
  list-style: none;
}
